<div class="top-block">
  <h1>Victor Vrublevski</h1>
</div>
<div class="card bg-dark text-white">
  <img src="../../../assets/images/photo2.jpg" class="card-img" alt="photo">
  <div class="card-img-overlay">
    <h3 class="card-title"></h3>
    <p class="card-text"></p>
    <p class="card-text"></p>
  </div>
</div>
<app-about></app-about>
<div id="contact">
  <div class="stand_up">
    <a href="#up">
      <img class="go-up_image" src="assets/images/circle_up.png">
    </a>
  </div>
  <div class="row-1">
    <div class="col-left">
      <div class="social">
        <a href="https://www.facebook.com/profile.php?id=100018113490991">
          <img class="logo" src="assets/images/logo-facebook.svg"  alt="facebook"></a>
        <a href="https://www.linkedin.com/in/viktorvrublevski59881a9">
          <img class="logo" src="assets/images/logo-linkedin.svg"  alt="linked">
        </a>
        <a href="https://github.com/Wiktor1-bot?tab=repositories">
          <img class="logo" src="assets/images/logo-github.svg"  alt="linked">
        </a>
      </div>
      <p><b>call:</b> +375(44) 544 04 72</p>
      <p><b>write:</b> zestaw2017@gmail.com</p>
    </div>
    <div class="col-right">

    </div>
  </div>
</div>
