.head-block{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
  margin-top: 20px;
}
.left-block{
  width: 40%;
  height: 200px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: end;
}
.right-block{
  width: 50%;
  min-height: 200px;
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
p{
  line-height: 25px;
}
img{
  width: 21em;
  height: 26em;
}
