<div class="block-1">
<div class="row-my" id="about">
    <div class="col-4-my">
      <div id="image-1">
      </div>
    </div>
    <div class="col-8-my">
      <p id="About_me">
        <span style="margin-right: 1.1em"><strong><i>A b o u t</i></strong></span>
        <span><strong><i>m e</i></strong></span>
            </p><br/>
            <p style="margin-left: 1.6em;line-height: 25px; font-family: 'Times New Roman',sans-serif; font-size: 1.5em">
              Hi! My name is Victor.
              I'm a <strong>Java developer</strong>.
            </p>
            <p style="margin-left: 1em; font-family: 'Times New Roman',sans-serif; font-size: 1.3em">
              I live in the city of Minsk, Republic of Belarus.<br/>
              Graduated <strong>«Russian State University of Tourism and Service»</strong> .
                Specialty: <strong>Finance and Credit</strong>.<br/> Awarded a bachelor's degree in
               <strong>«Economics in Finance and Credit»</strong>.<br/>
                Graduated programming courses <strong>«JavaRush»</strong>. Solved over <b>1000</b> tasks.<br/>
                Readed:<br/> <strong>«Java 8. A Beginner's Guide»</strong> - Herbert Schildt.<br/>
                <strong>«Java. Effective Programming»</strong>- Joshua Bloch.<br/><br/>
                I am currently working as a freelancer. I am working on the creation of websites and an online store.<br/>
              I study <strong>Javascript</strong>, <strong>Typescript</strong>. In my projects I use <strong>Spring Framework
             Spring Boot, Spring Security,<br/>Spring MVC, JPA, REST, Hibernate, MySQL, PostgreSQL,
              Angular 9, Bootstrap</strong>.
            </p>
    </div>
  </div>
</div>
