.row{
  margin-top: 4em;
  margin-left: 1em;
  margin-right: 1em;
}
.col-4{
  padding-left: 5em;
}
#image-1{
  width: 21em;
  height: 26em;
  background-image: url("../../../assets/images/photo1.JPG");
  background-size: 105%;
}
.col-8{
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 4em;
}
#About_me{
  margin-left: 4em;
  margin-top: 4em;
  font-family: 'Times New Roman',sans-serif;
  font-size: 3em;
}
p{
  line-height: 25px;
}
img{
  width: 21em;
  height: 26em;
}
