<div class="head-block" id="about">
  <div class="left-block">
    <img src="assets/images/photo1.JPG" width="420" height="520" alt="photo">
  </div>
  <div class="right-block">
    <p style="margin-left: 200px; font-family: 'Book Antiqua',cursive; font-size: 50px">
     <span style="margin-right: 40px">A b o u t</span><span>m e</span>
    </p><br/>
    <p style="margin-left: 100px; font-family: Constantia,cursive; font-size: 25px">
      <i style="margin-right: 5px">Hi ! My name is Victor.</i>
      <i>I'm a <b>Java developer</b>.</i>
    </p>
    <p style="margin-left: 30px; font-family: Constantia,cursive; font-size: 20px">
      I live in the city of Minsk, Republic of Belarus.<br/>
      Graduated <b>«Russian State University of Tourism and Service»</b> .
        Specialty: <b>Finance and Credit</b>. Awarded a bachelor's degree in
       <strong>«Economics in Finance and Credit»</strong>.<br/>
        Graduated programming courses <strong>«JavaRush»</strong>. Solved over <b>1000</b> tasks.<br/>
        Readed:<br/> <strong>«Java 8. A Beginner's Guide»</strong> - Herbert Schildt.<br/>
        <strong>«Java. Effective Programming»</strong>- Joshua Bloch.<br/><br/>
        I am currently working as a freelancer. I am working on the creation of websites and an online store.
        I study javascript, typescript. In my projects I use <strong>Spring Framework</strong> (Spring Boot, Spring Security,
        Spring MVC) <strong>JPA,REST, Hibernate, MySQL, PostgerSQL, Angular 9</strong>.

    </p>
  </div>
</div>
